<div class="main-container">
    <img class="bg-image" src="assets/images/wave-top.svg" alt="">
    <div class="container">
        <h4>Education</h4>
        <img src="assets/images/Line-title.svg" alt="">
        <p>History of Education</p>
        <div class="education-details">
            <div class="education">
                <h5>Thanthai Periyar Government and Institute Of Tecknowledge,Vellore.</h5>
                <p class="year">2020 - 2024</p>
                <p class="course">B.E - Electronics and Communication Engineering (79%)</p>
            </div>
            <div class="education">
                <h5>Government Higher Secondary School, Vengarai Kottaikadu</h5>
                <p class="year">2019 - 2020</p>
                <p class="course">HSE (75%)</p>
            </div>
            <div class="education">
                <h5>Government Higher Secondary School, Vengarai Kottaikadu</h5>
                <p class="year">2017 - 2018</p>
                <p class="course">SSLC (89%)</p>
            </div>
        </div>
    </div>
    <img class="bg-image" src="assets/images/wave-bottom.svg" alt="">
</div>