<div class="main-container">
    <div class="container">
        <h1>MY PORTFOLIO</h1>
        <!-- <div class="nav">
            <p>About</p>
            <p>education</p>
            <p>skills</p>
            <p>contact</p>
        </div> -->
        <a href="https://wa.me/918760725615?text=Hi%20there%2C%20I%20saw%20your%20portfolio!" target="_blank"><button class="contact-btn">
            <img src="assets/images/icons/Whatsapp-blue.svg" alt="">
            <p>Let’s Talk</p>
        </button></a>
    </div>
</div>