<div class="main-container">
    <h1>EXPERIENCE</h1>

    <div class="container">
        <div class="content">
            <div class="logo">
                <img src="../../assets/images/amwhizmedia_logo.jpg" alt="">
            </div>
            <div class="description">
                <h3>Web Developer</h3>
                <p class="position">
                    Intern : (Oct 2024 - Mar 2025)
                </p>
                <p class="knowledge">
                    I am completed a Web Development Internship at Amwhiz Media, where I gained real-world
                    experience working with Next.js and React.js to build modern, SEO-friendly, and responsive web
                    interfaces. It helped me strengthen my understanding of component-driven architecture, routing, and
                    performance optimization in production-level apps.
                </p>
            </div>
        </div>

        <div class="content">
            <div class="logo">
                <img src="../../assets/images/amwhizmedia_logo.jpg" alt="">
            </div>
            <div class="description">
                <h3>Full Stack Developer</h3>
                <p class="position">
                    Full time : (Mar 2025 - Now)
                </p>
                <p class="knowledge">
                    I am a JavaScript Full Stack Developer with solid experience in building scalable web applications using
                    Angular (v14), Node.js, and MongoDB. I’ve gained strong knowledge in deploying and managing
                    cloud-native applications using modern AWS services like Lambda, S3, DynamoDB, Cloudwatch and EC2. I also have
                    hands-on experience integrating major social media platforms such as Instagram, LinkedIn, Twitter,
                    and Facebook — working with their APIs for features like post scheduling, authentication, and
                    analytics.
                </p>
            </div>
        </div>
    </div>
</div>