<div class="main-container">
    <h1>SKILLS</h1>

    <div class="scroll-container">
        <div class="scroll-content">
            <img src="assets/images/languages/html.svg" alt="" />
            <img src="assets/images/languages/css.svg" alt="" />
            <img src="assets/images/languages/js.webp" alt="" />
            <img src="assets/images/languages/tailwind-css.svg" alt="" />
            <img src="assets/images/languages/angular.webp" alt="" />
            <img src="assets/images/languages/react.png" alt="" />
            <img src="assets/images/languages/next.png" alt="" />
            <img src="assets/images/languages/mongodb.svg" alt="" />
            <img src="assets/images/languages/postman.svg" alt="" />
            <img src="assets/images/languages/github.svg" alt="" />
        </div>
    </div>
</div>