<div class="main-container">
    <div class="left">
        <h4>Hello! I’am Karthik Saravanan — </h4>
        <h1>I’am a Javascript Full Stack Developer</h1>
        <p class="description">
            I’m Associate Software Engineer with strong
            hands-on experience in building scalable web applications.With solid expertise in Angular (v14), Node.js,
            MongoDB, and modern AWS services like Lambda, S3, DynamoDB,
            and EC2, I love crafting clean, efficient, and cloud-native applications that solve real-world problems.
        </p>
        <div class="contact-btn">
            <a href="mailto:karthiksaravanan909@gmail.com?subject=Hello%20Karthik&body=I%20saw%20your%20portfolio%20and%20I%20am%20Interest%20to%20Hiring%20You!" target="_blank"><button class="hire-me-btn">
                <img src="assets/images/icons/briefcase-solid.svg" alt="">
                <p>Hire Me</p>
            </button></a>
            <a href="assets/files/resume_karthik.pdf" download><button class="cv">
                <p>Download CV</p>
            </button></a>
        </div>
        <div class="social-platform">
            <a href="https://github.com/Karthik-Saravanan-10" target="_blank"><img src="assets/images/icons/github.svg" alt=""></a>
            <a href="https://www.linkedin.com/in/karthik-saravanan10/" target="_blank"><img src="assets/images/icons/linkedin.svg" alt=""></a>
            <a href="https://www.instagram.com/__karthi_vs/" target="_blank"><img src="assets/images/icons/instagram.svg" alt=""></a>
            <a href="https://wa.me/918760725615?text=Hi%20there%2C%20I%20saw%20your%20portfolio!" target="_blank"><img src="assets/images/icons/Whatsapp.svg" alt=""></a>
            <a href="mailto:karthiksaravanan909@gmail.com?subject=Hello%20Karthik&body=I%20saw%20your%20portfolio!" target="_blank"><img src="assets/images/icons/email.png" width="32" height="32" alt=""></a>
        </div>
    </div>
    <div class="right">
        <img src="assets/images/karthik.png" alt="">
    </div>
</div>
<app-education></app-education>
<app-skills></app-skills>
<app-experience></app-experience>
<app-footer></app-footer>